body{
	background-color: black;
	background-blend-mode:hue; 
}

h1{
	color: black;
	font-size: 900%;

}

p{
	position: absolute;
	font-size: large;
	width: 30%;
	left: 63%;
	top: 15%;
	color: white;
}



.logo:hover{
	animation-name: pulse;
	animation-duration: 1s;

}



.can4{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 39%;
	cursor: pointer;

}