body{
	background-color: black;
	background-blend-mode:hue; 
}

h1{

	position: absolute;
	text-transform:uppercase;
	font-family: times;
	font-weight: bold;
	font-size: 345px;
	color: black;
	left: 0%;

}

h2{
	position: absolute;
	font-family: times;
	font-weight: bold;
	font-size: 169px;
	color: rgba(255,255, 255, 0.71);
	left: 0%;
	top: -16%;
	opacity: 3;
	/*transform: rotate(180deg);*/

}



/*.logo{
	position: absolute;
	width: 30%;
	left: 36%;
	top: -6%;
	z-index: 1;
}
*/


/*.logo:hover{
	animation-name: pulse;
	animation-duration: 1s;

}*/

#can:hover{
	animation-name: pulse;
	animation-duration: 1s;
	cursor: pointer;
}

.can1{
	position: absolute;
	width: 10%;
	top: 52%;
	left:1%;
	cursor: pointer;

}
.can2{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 13%;
	cursor: pointer;
}
.can3{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 26%;
	cursor: pointer;

}
.can4{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 39%;
	cursor: pointer;

}
.can5{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 51%;
	cursor: pointer;

}
.can6{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 63%;
	cursor: pointer;

}
.can7{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 75%;
	cursor: pointer;

}
.can8{
	position: absolute;
	width: 10%;
	top: 52%;
	left: 87%;
	cursor: pointer;

}

/*.flame1{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 2%;


}
.flame2{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 14%;

}
.flame3{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 26%;

}
.flame4{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 38%;

}
.flame5{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 50%;
	z-index: 2;
}
.flame6{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 62%;

}
.flame7{
	position: absolute;
	width: 10%;
	top: 13%;
	left: 74%;

}
.flame8{
	position: absolute;
	width: 10%;
	top: 13%;
	left:86%; 

}*/

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}