
h1{
	margin-left:220px;

}

body{
	background-color: black;

}
blockquote{
	text-indent: -60px;
	position: absolute;
	left: 19%;
	top: 20%;
	/*margin-left: auto;
	margin-right: auto;*/
	font-size: 40px;
	font-weight: 900px;
	text-align: center;
}


li,a{
	font-family: 'Permanent Marker', cursive;
	font-size: xx-large;
	color: rgb(185, 0, 255);
}

li{
	background-size: 40%;
	background-color: aqua;
	left: 20%;
}


.name{

	position: absolute;
	width: 95%;
	left: 3%;

}

.instagram{
	position: absolute;
	width: 5%;
	left: 44%;
	top:16.2%;
}

.twitter{
	position: absolute;
	width: 5.5%;
	left: 34.1%;
	top:16%;

}

.facebook{
	position: absolute;
	width: 6.5%;
	left: 52.8%;
	top:15%;
}










