
body{
	background-color: rgba(255,218,233,0.49);

}


/*links*/
blockquote{
	position: absolute;
	text-indent: -56px;
	left: 62%;
	top: 3.1%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	color: white;
}

li{
	font-family: helvetica;
	font-weight: bolder;
	font-size: 25px;
	color: white;
	list-style-type: none;
}


a{
	color: rgba(253,214,230,1);
	text-decoration: none;
}

a:visited{
	color: rgba(253,214,230,1);
	text-decoration: none;


}

a:hover{
	color: white;
	animation-name: fadeIn;
	animation-duration: 1s;
	text-decoration: underline;

}

a:active{
	color: rgba(253,214,230,1);
	cursor: pointer;
	text-decoration: underline;
}




.gclogo{
	position: absolute;
	width: 5%;
	left: 94%;
	top: -1%;
}

.coutourwhite{
	position: absolute;
	width: 53%;
	left: -23%;
	top: 36%;
	-webkit-transform: rotate(-90deg);
}

.gclogo:hover{
	color: rgba(253,214,230,1);
	animation-name: fadeIn;
	animation-duration: 2s;


}







/*animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}















