
h1{
	margin-left:220px;

}

body{
	background-color: black;

}
blockquote{
	text-indent: -60px;
	position: absolute;
	left: 19%;
	top: 20%;
	/*margin-left: auto;
	margin-right: auto;*/
	font-size: 40px;
	font-weight: 900px;
	text-align: center;
}


li,a{
	font-family: 'Permanent Marker', cursive;
	font-size: xx-large;
	color: rgb(185, 0, 255);
}

li{
	background-size: 35%;
	background-color: aqua;
	background-size: 38% ;
}

.name{

	position: absolute;
	width: 95%;
	left: 3%;

}

.instagram{
	position: absolute;
	width: 3%;
	left: 48%;
	top:19%;
}

.twitter{
	position: absolute;
	width: 3%;
	left: 42.9%;
	top:19%;

}

.facebook{
	position: absolute;
	width: 4%;
	left: 52.8%;
	top:18%;
}

.stars{
	width: 40%;
}








