
h1{
	margin-left:240px;

}

body{
	background-color: black;

}
blockquote{
	text-indent: -60px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
	font-weight: 900px;
	text-align: center;
}


ol,a{
	font-family: 'Permanent Marker', cursive;
	font-size: xx-large;
	color: #49ff5c;
}

div{
	position: absolute;
}
