#wrapper{
	position: relative;
	animation-name: shake;
	animation-duration: 2s;
	

}
#ball{
	background-color: black;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	position: fixed;
	top: 120px;
	left: 420px;
	
}
#ballcenter{
	background-color: white;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: fixed;
	top: 225px;
	left: 526px;

	
	
	
}
h1{
	color: black;
	font-family: helvetica; 
	font-size: 86px;
	top:213px;
	left: 601px;
	position: fixed;
	/*animation-name: fadeOut;
	animation-duration: 6s;*/
	
	
}
.message{
	position: fixed;
	width: 200px;
	top: 225px;
	left: 526px;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 7s;

}












/*animation*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

