body{
	background-image: url("brick.png");

}

h1{
	position: absolute;
	z-index: 2;
	font-family: helvetica;
	font-weight: bolder;
	color: navy;
	top: 10%;
	left: 36%;

}

h2{
	position: absolute;
	z-index: 2;
	font-family: helvetica;
	font-weight: bold;
	font-size: larger;
	color: navy;
	top: 16%;
	left: 34%;

}

#input{
	position: absolute;
	z-index: 2;
	width: 36%;
	top: 25%;
	left: 32%;
	


}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

.input[type=text]:focus {
    width: 100%;
}


.plate{
	position: absolute;
	width: 43%;
	top: 0;
	left: 29%;
	z-index: 2;

}

.yankee{
	position: absolute;
	width: 11%;
	top: 63px;
	left: 18%;

}

.yankee2{
	position: absolute;
	width: 11%;
	top: 63px;
	left: 72%;

}

.boot{
	position: absolute;
	width: 17%;
	top: 0;

}

.boot2{
	position: absolute;
	width: 17%;
	top: 0;
	left: 83%

}


