body{
	background-image: url("brick.png");

}

h1{
	position: absolute;
	z-index: 2;
	font-family: helvetica;
	font-weight: bolder;
	color: navy;
	top: 10%;
	left: 36%;

}

h2{
	position: absolute;
	z-index: 2;
	font-family: helvetica;
	font-weight: bold;
	font-size: larger;
	color: navy;
	top: 16%;
	left: 34%;

}

button{
	position: absolute;
	width: 18;
	top: 25%;
	left: 32%;
	background-color: navy;
	color: white;
	border-radius:51%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	z-index: 2;

}

.button2{
	position: absolute;
	width: 18;
	top: 25%;
	left: 38%;
	background-color: navy;
	color: white;
	border-radius:51%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	z-index: 2;
}

.button3{
	position: absolute;
	width: 18;
	top: 25%;
	left: 46%;
	background-color: navy;
	color: white;
	border-radius:51%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	z-index: 2;
}

.button4{
	position: absolute;
	width: 18;
	top: 25%;
	left: 60%;
	background-color: navy;
	color: white;
	border-radius:51%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	z-index: 2;
}

.button5{
	position: absolute;
	width: 18;
	top: 25%;
	left: 55%;
	background-color: navy;
	color: white;
	border-radius:51%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	z-index: 2;
}

.button6{
	position: absolute;
	width: 18;
	top: 25%;
	left: 61%;
	background-color: navy;
	color: white;
	border-radius:51%;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	z-index: 2;
}



button:hover{
	animation-name: pulse;
	animation-duration: 1s;

}

.plate{
	position: absolute;
	width: 43%;
	top: 0;
	left: 29%;
	z-index: 2;

}

.yankee{
	position: absolute;
	width: 11%;
	top: 63px;
	left: 18%;

}

.yankee2{
	position: absolute;
	width: 11%;
	top: 63px;
	left: 72%;

}

.boot{
	position: absolute;
	width: 17%;
	top: 0;

}

.boot2{
	position: absolute;
	width: 17%;
	top: 0;
	left: 83%


}

.show{
	opacity: 1 !important;
}

.gif0{
	position: absolute;
	width: 15%;
	top: 70%;
	left: 43%;
	z-index: 2;
	opacity: 0;
}

.gif1{
	position: absolute;
	width: 15%;
	top: 67%;
	left: 43%;
	z-index: 2;
	opacity: 0;
	
}

.gif2{
	position: absolute;
	width: 10%;
	top: 78%;
	left: 46%;
	z-index: 2;
	opacity: 0;
}

.gif3{
	position: absolute;
	width: 10%;
	top: 70%;
	left: 45%;
	z-index: 2;
	opacity: 0;
}

.gif4{
	position: absolute;
	width: 13%;
	top: 74%;
	left: 43%;
	z-index: 2;
	opacity: 0;

}















.box{
	position: absolute;
	border-radius: 4%;
	height: 49%;
	width: 49%;
	top: 45%;
	left: 26%;
	background-color: white;
	z-index: 1;
	border-style: solid;
	border-color: navy;
	
}

.definition{
	position: absolute;
	top: 60%;
	left: 35%;
	width: 30%;
	text-align: center;
	color: navy;
	font-family: helvetica;
	font-weight: 900;
	font-size: large;
	z-index: 2;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}




