body{
	background-color: rgba(236,236,236,0.38);
	}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
		
}

li{
	font-family: 'Open Sans Condensed', sans-serif;
	list-style: none;
	font-size: medium;

}

a:link{
	text-decoration: none;
	color: black;

}

a:visited{
	color: blacks;

}

a:hover{
	color:pink; 
}

.nba{
  position: absolute;
  width: 22%;
  top:62%;
  left:-7%;

}

.slug{
  position: absolute;
  width: 20%; 
  top:-3%;
  left: 58%;
}
.truereligion{
  position: absolute;
  width: 23%;
  top:2%;
  left:77% ;

}
.bob{
  position: absolute;
  width: 20%;
  top:77%;
  left: 1%;
}
.chanel{
  position: absolute;
  width: 23%;
  top:74%;
  left: 11%;
}
.converse{
  position: absolute;
  width: 20%;
  top:22%;
  left: 85%;
}
.dilligaf{
  position: absolute;
  width: 20%;
  top:43%;
  left: 44%;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}