body{
	background-color: rgba(236,236,236,0.38);
	}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	
	

}

li{
	font-family: 'Open Sans Condensed', sans-serif;
	list-style: none;
	font-size: medium;

}



a:link{
	text-decoration: none;
	color: black;

}

a:visited{
	color: pink;

}

a:hover{
	color:pink; 
}


/*.i1{
	position: absolute;
	width: 21%;
	left: 12%;
	top:43%;

}
.i2{
	position: absolute;
	width: 20%;
	left: 81%;
	top: 0;
}*/
/*.i3{
	position: absolute;
	width: 20%;
	left: 27;
	top: 26%;
}

.i5{
	position: absolute;
	width: 20%;
	left: 40%;
	top: -4%;
}
.i6{
	position: absolute;
	width: 20%;
	left: -2%;
	top: 51%;

}
.i7{
	position: absolute;
	width: 20%;
	left: 44%;

}
.i8{
	position: absolute;
	width: 23%;
	left: 9%;
	top: 17%;
}
.i9{
	position: absolute;
	width: 20%;
	left: 11%;
	top: -3%;
}
.i10{
	position: absolute;
	width: 14%;
	left: 26%;
	top: 7%;
}
.i11{
	position: absolute;
	width: 22%;
	left: 26%;
	top: 27%;
}*/
/*.i12{
	position: absolute;
	width: 28%;
	left: 50%;
	top: 40%;

}*/
/*.i13{
	position: absolute;
	width: 24%;
	left: 38%;
	top: 17%;

}*/
/*.i15{
	position: absolute;
	width: 20%;
	left: 28%;
	top: 50%;
}*/
/*.i16{
	position: absolute;
	width: 20%;
	left: 50%;
	top: 26%;
}
.i17{
	position: absolute;
	width: 20%;
	left: 29%;
	top: 74%;
}
.i18{
	position: absolute;
	width: 20%;
	left: 73%;
	top: 35%;
}
.i19{
	position: absolute;
	width: 20%;
	left: 63%;
	top: 33%;
}
.i20{
	position: absolute;
	width: 20%;
	left: 64%;
	top: 54%;
}*/
/*.i21{
	position: absolute;
	width: 20%;
	left: 53%;
	top: 16%;
}*/
.i22{
	position: absolute;
	width: 30%;
	left: 3%;
	top: 63%;
}
/*.i23{
	position: absolute;
	width: 20%;
	left: 52%;
	top: 0%;
}
.i24{
	position: absolute;
	width: 20%;
	left: 73%;
	top: 54%;
}*/
/*.i25{
	position: absolute;
	width: 39%;
	left: 37%;
	top: 56%;
}*/
/*.i26{
	position: absolute;
	width: 23%;
	left: 63%;
	top: 12%;
}*/
/*.i27{
	position: absolute;
	width: 23%;
	left: 64%;
	top: -4%;
}
.i28{
	position: absolute;
	width: 28%;
	left: 61%;
	top: 70%;
}
.i29{
	position: absolute;
	width: 24%;
	left: 79%;
	top: 15%;
}*/
.i30{
	position: absolute;
	width: 51%;
	left: 64%;
	top: 35%;


}


@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}