body{
	background-color: rgba(236,236,236,0.38);
	}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
	
	

}

li{
	font-family: 'Open Sans Condensed', sans-serif;
	list-style: none;
	font-size: medium;

}



a:link{
	text-decoration: none;
	color: black;

}

a:visited{
	color: pink;

}

a:hover{
	color:pink; 
}

.i4{
	position: absolute;
	width: 43%;
	left: 30%;

}
.i8{
	position: absolute;
	width: 44%;
	top: 31%;

}
.i16{
	position: absolute;
	width: 40%;
	top: -4%;

}
.i27{
	position: absolute;
	width: 40%;
	left: 32%;

}
