body{
	background-color: rgba(236,236,236,0.38);
	}
h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 50px;
}
li{
	font-family: 'Open Sans Condensed', sans-serif;
	list-style: none;
	font-size: medium;

}
a:link{
	text-decoration: none;
	color: black;

}
a:visited{
	color: black;

}
a:hover{
	color:pink; 

}
img:hover{
	animation-name: jello;
	animation-duration: 2s;
}

.home{
	position: absolute;
	width: 3%;
	top: 40%;
	z-index: 10;
	
}

.i1{
	position: absolute;
	width: 20%;
	top: 23%;
	left: 14%;

}
.i2{
	position: absolute;
	width: 30%;
	top: -6%;
	left: 11%;

}
.i3{
	position: absolute;
	width: 37%;
	top: 63%;
	left: 11%;

}
.i4{
	position: absolute;
	width: 28%;
	left: 15%;
	top: 47%;

}
.i5{
	position: absolute;
	width: 32%;
	left: 34%;
	top: 38%;

}
.i6{
	position: absolute;
	width: 25%;
	left: 58%;
	top: 8%;
}
.i7{
	position: absolute;
	width: 26%;
	left: 54%;
	top: 19%;

}
.i8{
	position: absolute;
	width: 50%;
	left: 57%;
	top: -19%;

}
.i9{
	position: absolute;
	width: 38%;
	left: 50%;
	top: 31%


}
.i10{
	position: absolute;
	width: 26%;
	top: 19%;
	left: 76%;

}
.i11{
	position: absolute;
	width: 28%;
	top: 56%;
	left: 54%;

}
.i12{
	position: absolute;
	width: 25%;
	left: 47%;
	top: -2%;

}
.i13{
	position: absolute;
	width: 25%;
	left: 37%;
	top: -2%;

}
.i14{
	position: absolute;
	width: 26%;
	left: 64%;
	top: 16%;

}
.i15{
	position: absolute;
	width: 26%;
	top: 43%;
	left: 71%;

}
.i16{
	position: absolute;
	width: 61%;
	left: 66%;
	top: 40%;

}
.i17{
	position: absolute;
	width: 29%;
	left: 24%;
	top: 18%;

}
.i18{
	position: absolute;
	width: 30%;
	left: 38%;
	top: 17%;

}
.i19{
	position: absolute;
	width: 58%;
	top: 47%;
	left: 19%;

}
.i20{
	position: absolute;
	width: 20%;
	top: 11%;
	left: 4%;

}
.i21{
	position: absolute;
	width: 30%;
	left: -5%;
	top: 31%;

}
.i22{
	position: absolute;
	width: 25%;
	left: 56%;
	top: 75%;

}
.i23{
	position: absolute;
	width: 24%;
	top: 68%;
	left: 45%;

}
.i24{
	position: absolute;
	width: 24%;
	top: -7%;
	left: 26%;

}
.i25{
	position: absolute;
	width: 24%;
	left: 26%;
	top: 6%;

}
.i26{
	position: absolute;
	width: 33%;
	left: 67%;
	top: 63%;
}
.i27{
	position: absolute;
	width: 31%;
	left: -6%;
	top: 47%;

}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}













