body{
	background-color: rgba(236,236,236,0.38);
	}

h1{
	font-family: 'League Script', cursive;
	font-size: 50px;
	
	

}

li{
	font-family: 'Open Sans Condensed', sans-serif;
	list-style: none;
	font-size: medium;

}



a:link{
	text-decoration: none;
	color: black;

}

a:visited{
	color: pink;

}

a:hover{
	color:pink; 
}


.i1{
	position: absolute;
	width: 41%;
	left: 70%;
	top:20%;

}
.i2{
	position: absolute;
	width: 20%;
	left: 81%;
	top: 0;
}
.i3{
	position: absolute;
	width: 20%;
	left: 0;
	top: 23%;
}
.i4{
	position: absolute;
	width: 18%;
	left: 25%;
	top: 1%;
}
.i5{
	position: absolute;
	width: 20%;
	left: 40%;
	top: -4%;
}
.i6{
	position: absolute;
	width: 40%;

}
.i7{
	position: absolute;
	width: 20%;
	left: 33%;
}
.i8{
	position: absolute;
	width: 20%;
	left: 13%;
	top: 24%;
}
.i9{
	position: absolute;
	width: 20%;
	left: 11%;
	top: 6%;
}
.i10{
	position: absolute;
	width: 20%;
	left: 27%;
	top: 66%;
}
.i11{
	position: absolute;
	width: 22%;
	left: 10%;
	top: 77%;
}
.i12{
	position: absolute;
	width: 20%;
	left: 24%;
	top: 12%;

}
.i13{
	position: absolute;
	width: 24%;
	left: 21%;
	top: 26%;

}
.i15{
	position: absolute;
	width: 20%;
	left: 39%;
	top: 63%;
}
.i16{
	position: absolute;
	width: 20%;
	left: 40%;
	top: 12%;
}
.i17{
	position: absolute;
	width: 20%;
	left: 49%;
	top: 70%;
}
.i18{
	position: absolute;
	width: 20%;
	left: 51%;
	top: 53%;
}
.i19{
	position: absolute;
	width: 20%;
	left: 43%;
	top: 33%;
}
.i20{
	position: absolute;
	width: 20%;
	left: 53%;
	top: 33%;
}
.i21{
	position: absolute;
	width: 20%;
	left: 53%;
	top: 12%;
}
.i22{
	position: absolute;
	width: 26%;
	left: -2%;
	top: 6%;
}
.i23{
	position: absolute;
	width: 20%;
	left: 65%;
	top: 0%;
}
.i24{
	position: absolute;
	width: 20%;
	left: 63%;
	top: 64%;
}
.i25{
	position: absolute;
	width: 20%;
	left: 72%;
	top: 64%;
}
.i26{
	position: absolute;
	width: 20%;
	left: 82%;
	top: 67%;
}
.i27{
	position: absolute;
	width: 20%;
	left: 67%;
	top: 45%;
}
.i28{
	position: absolute;
	width: 20%;
	left: 67%;
	top: 32%;
}
.i29{
	position: absolute;
	width: 20%;
	left: 65%;
	top: 18%;
}
.i30{
	position: absolute;
	width: 20%;


}


@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}




















