
body{
	background-color: rgba(255,218,233,0.49);

}

/*links*/
blockquote{
	position: absolute;
	text-indent: -56px;
	left: 56%;
	top: 42.1%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	color: white;
}

li{
	font-family: helvetica;
	font-weight: bolder;
	font-size: 28px;
	color: whi;
	list-style-type: none;
}


a{
	color: rgba(253,214,230,1);
	text-decoration: none;
}

a:visited{
	color: rgba(253,214,230,1);
	text-decoration: none;

}

a:hover{
	color: white;
	animation-name: fadeIn;
	animation-duration: 1s;
	text-decoration: underline;

}

a:active{
	color: rgba(253,214,230,1);
	cursor: pointer;
	text-decoration: underline;
}

img:hover{
	cursor: crosshair;
	animation-name: fadeIn;
	animation-duration: 2s;
}


h1{
	position: absolute;
	font-family: helvetica;
	font-weight: bolder;
	font-size: xx-large;-large;
	color: rgba(255,218,233,0.49);
	width: 20%;
	top: 50%;
	left: 3%;
	z-index: 1;
	animation-name: fadeIn;
	animation-duration: 2s;

}

h2{
	position: absolute;
	font-family: helvetica;
	font-weight: bolder;
	font-size: xx-large;
	color: rgba(255,218,233,0.49);
	width: 20%;
	left: 3%;
	top: 99%;
	z-index: 1;
	animation-name: fadeIn;
	animation-duration: 2s;
}

h3{
	position: absolute;
	font-family: helvetica;
	font-weight: bolder;
	font-size: xx-large;
	color: rgba(255,218,233,0.49);
	width: 20%;
	left: 3%;
	top: 142%;
	z-index: 1;
	animation-name: fadeIn;
	animation-duration: 2s;

}


.gclogo{
	position: absolute;
	width: 25%;
	left: 36.4%;

}

.coutourwhite{
	position: absolute;
	width: 28%;
	left: 35%;
	top: 30%;
}

.gclogo:hover{
	color: rgba(253,214,230,1);
	animation-name: fadeIn;
	animation-duration: 2s;


}

.box{
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 45%;
	width: 100%;
	height: 39%;
	left: 0%;
	z-index: 1;

}



.box2{
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 87%;
	width: 100%;
	height: 39%;
	left: 0%;
	z-index: 1;


}

.box3{
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 129%;
	width: 100%;
	height: 39%;
	left: 0%;
	z-index: 1;

}



.moma{
	position: absolute;
	width: 13%;
	left: 25.6%;
	top: 88%;
	z-index: 2;

}

.poster1{
	position: absolute;
	width: 13.5%;
	top: 46%;
	left: 25%;
	z-index: 2;


}
.poster2{
	position: absolute;
	width: 13.5%;
	top: 46%;
	left:39.6%;
	z-index: 2;
}
.poster3{
	position: absolute;
	width: 13.5%;
	top: 46%;
	left: 54%;
	z-index: 2;


}
.poster4{
	position: absolute;
	width: 13.5%;
	top: 46%;
	left: 68.5%;
	z-index: 2;

}
.poster5{
	position: absolute;
	width: 13.5%;
	top: 46%;
	left: 83%;
	z-index: 2;
}

.recipt{
	position: absolute;
	width: 14.5%;
	top: 88%;
	left: 56.5%;
	z-index: 2;

}

.brand{
	position: absolute;
	width: 12.6%;
	top: 88%;
	left: 41.5%;
	z-index: 2;

}



.peacock{
	position: absolute;
	width: 12.6%;
	top: 88%;
	left: 72.5%;
	z-index: 2;

}

.pic1{
	position: absolute;
	width: 14.6%;
	top: 135%;
	left: 24.5%;
	z-index: 2;

}

/*.pic2{
	position: absolute;
	width: 14.6%;
	top: 135%;
	left: 72.5%;
	z-index: 2;
}*/

.pic3{
	position: absolute;
	width: 15.4%;
	top: 135%;
	left: 76.5%;
	z-index: 2;
}

.pic4{
	position: absolute;
	width: 19.8%;
	top: 135%;
	left: 55.5%;
	z-index: 2;
}

/*.pic5{
	position: absolute;
	width: 17.5%;
	top: 135%;
	left: 55.5%;
	z-index: 2;
}*/

.pic6{
	position: absolute;
	width: 14%;
	top: 135%;
	left: 40.5%;
	z-index: 2;

}
/*animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

