
body{
	background-color: rgba(255,218,233,0.49);

}


/*links*/
blockquote{
	position: absolute;
	text-indent: -56px;
	left: 56%;
	top: 42.1%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	color: white;
}

li{
	font-family: helvetica;
	font-weight: bolder;
	font-size: 28px;
	color: whi;
	list-style-type: none;
}


a{
	color: rgba(253,214,230,1);
	text-decoration: none;
}

a:visited{
	color: rgba(253,214,230,1);
	text-decoration: none;


}

a:hover{
	color: white;
	animation-name: fadeIn;
	animation-duration: 1s;
	text-decoration: underline;

}

a:active{
	color: rgba(253,214,230,1);
	cursor: pointer;
	text-decoration: underline;
}




.gclogo{
	position: absolute;
	width: 25%;
	left: 36.4%;

}

.coutourwhite{
	position: absolute;
	width: 28%;
	left: 35%;
	top: 30%;
}

.gclogo:hover{
	color: rgba(253,214,230,1);
	animation-name: fadeIn;
	animation-duration: 2s;


}

.fuckit{
	position: absolute;
	width: 15%;
	left: 4%;
	top: 46%;

	
}

.moma{
	position: absolute;
	width: 13%;
	left: 22%;
	top: 46%;

}

.poster1{

}
.poster2{

}
.poster3{

}
.poster4{

}
.post




/*animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

