body{
	background-color: black;
}



h1,h2,h3,p{
	color: white;
	font-family: helvetica;
	font-size: medium;

}

h1{
	text-align: center;
	text-decoration-color: black;
	font-size: 50px;
	font-weight: bolder;
}

h2{
	text-align: center;
	font-size: 10px;
	margin-top: -2%;
}

h3,blockquote{
	font-size: 20px;
	text-align: center;

}