html, body {
  height: 100%;
}

body{
  transition: background-color 0.25s linear;
}

h1{
  font-family: helvetica;
  color: pink;
  font-size: 80px;
  position: absolute;
  top:20px;
  left: 383px;
}



.button {
  /*background-color: blue;*/
  position: relative;
  margin: auto;
  top: 269px;
  width: 669px;
  height: 651px;
  left: -20px;
  border-radius: 247px;
  cursor: pointer;
  background-image: url("mily1.png");
  transition: top 0.5s ease-in-out;

}


.focused{
  /*background-color: rgb(120,120,120);*/
  /*border: 1px solid rgb(40,40,40);*/
}

.active{
  /*background-color: rgb(200,20,34);*/
 
  background-image: url("mily2.png");

  /*border:1px solid rgb(255,0,0);*/

}


  /* switch img*/
 

