html{
	background-color: black;
	font-family: helvetica;
	font-size: 40px;
	font-weight: thick;

}

#red{
	color: red;
}

#blue{
	color: blue;
}
p{
	color: pink;
}



a{
	color: aqua;
}

iframe{
	position: absolute;
    width: 630px;
    height: 676px;
    left: 653px;
    top: 0px;

}