html{
	background-color: black;
	font-family: helvetica;
	font-size: x-large;
	font-weight: thick;

}


p{
	color: aqua;
}

a{
	color: aqua;
}

a{
	color: pink;
}

iframe{
	position: absolute;
    width: 630px;
    height: 676px;
    left: 653px;
    top: 0px;

}