html, body {
  height: 100%;
}

.button{
	position: relative;
	height: 300px;
	width: 300px;
	border-radius:50%;
	top: 177px;
	left: 464px;
	background-color: red;
	cursor: pointer;

}

p{
	position: fixed;
	font-family: helvetica;
	font-size: 43px;
	color: white;
	top: 271px;
	left: 481px;

}

.focused{
  /*background-color: rgb(120,120,120);*/
  /*border: 1px solid rgb(40,40,40);*/
}

.active{
  /*background-color: rgb(200,20,34);*/
 
  background-image: url("mily2.png");

  /*border:1px solid rgb(255,0,0);*/

}
