html, body {
  height: 100%;
}

body{
  transition: background-color 0.25s linear;
}

h1{
  font-family: helvetica;
  color: rgba(255, 0, 0, 0.71);;
  font-size: 46px;
  position: absolute;
  top:20px;
  left: 354px;
}



.button {
  /*background-color: blue;*/
  position: relative;
  margin: auto;
  top: 392px;
  width: 451px;
  height: 651px;
  left: 0px;
  border-radius: 247px;
  cursor: pointer;
  background-image: url("kanye1.png");
  transition: top 0.5s ease-in-out;

}


.focused{
  /*background-color: rgb(120,120,120);*/
  /*border: 1px solid rgb(40,40,40);*/
}

.active{
  /*background-color: rgb(200,20,34);*/
 
  background-image: url("kanye2.png");

  /*border:1px solid rgb(255,0,0);*/

}

.disappear{
  transition: left 2s;
  left: 70%;
}


  /* switch img*/
