html{
	background-color: black;
	font-family: helvetica;
	font-size: x-large;
	font-weight: thick;

}

.iframe1{
	position: relative;
	width: 500px;
	height: 400px;
	left: 50px;
}

.iframe2{
	position: relative;
	width: 500px;
	height: 500px;
	left:620px;
	top: -400px;
	
}



p{
	color: aqua;
}

a{
	color: aqua;
}

a{
	color: pink;
}