html{
	background-color: black;
	font-family: helvetica;
	font-size: x-large;
	font-weight: thick;

}

.iframe1{
	position: fixed;
	width: 50%;
	height: 100%;
	top:0%;
	left: 0%;
	right: 50%;
	bottom:0% ;
	
}

.iframe2{
	position: fixed;
	width: 50%;
	height: 100%;
	top:0%;
	left: 50%;
	right: 0%;
	bottom:0% ;
	
}



p{
	color: aqua;
}

a{
	color: aqua;
}

a{
	color: pink;
}